# 依赖
/node_modules
/.pnp
.pnp.js

# 测试
/coverage

# 构建输出
/dist
/build
/release

# 环境变量
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# 编辑器配置
/.idea
/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 操作系统文件
.DS_Store
Thumbs.db
desktop.ini

# Electron打包
/out
/release
electron-v*.zip
electron-v*.zip.part
electron-v*.zip.crdownload

# 临时文件
.temp
.tmp
.cache 